/* CSS declarations go here */
.login-display-name {
	color: #FFFFFF;
	padding-top: 10px;
}

.dashboard_heading {
	padding-left: 50%;
}

.center_text {
	width: 50%;
	margin: auto;
}

.cash h4 {
	text-align: center;
}

.cash {
	padding-top: 10px;
}

.rankings h4 {
	text-align: center;
}

.rankings p {
	text-align: center;
}


.blue {
   	background-color: #7878e2;
 }

 .fa-fw {width: 2em;}